<div class="columns">
  <div class="column">
    <%= form_for @concert do |f| %>
      <%= f.text_field :artist, :placeholder => "Artist", class: "input" %>
      <%= f.text_field :venue, :placeholder => "Venue", class: "input" %>
      <%= f.text_field :city, :placeholder => "City", class: "input" %>
      <%= f.date_field :date, :placeholder => "Date", class: "input" %>
      <%= f.text_field :price, :placeholder => "Price", class: "input" %>
      <%= f.text_area :description, :placeholder => "Description", class: "textarea" %>
      <%= f.submit 'Save' , class: "button is-success is-fullwidth", id: "save_button"%>
    <% end %>
  </div>
</div>
